<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <form action = "/data" method = "POST">
            TASK NAME<input type = "text" name = "taskname"/><br>
            TASK DUE<input type = "text" name = "taskdue"/><br>
            TASK DESC<input type = "text" name = "taskdesc"/><br>
            <button>submit</button>
        </form>
        <h1>
            <a href="/">Home Page</a>
            <a href="/allTasks.html">All Tasks</a>
        </h1>
    </body>
</html>